/* Globales */

/* este container es para la imagen del logo de setues, por debajo del nav */
.container_logo{
    text-align: center;
}

nav{
    background-color: rgb(228, 141, 12);
    width: 100%;
    height: 45px;
    color: #fff;
    padding: 0px 1px;
}

ul, ol{
    list-style: none;
}

.menu li a{
    background-color: rgb(228, 141, 12) ;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.menu > li{
    float: left;
}

.menu li a:hover{
    background-color: rgb(91, 41, 42);
    color: aliceblue;
}

.menu li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}

.menu li:hover > ul{
    display: block;
}


.Welcome {
    display: flex;
    align-items: center;
    background-color:rgb(91, 41, 42) ;
    padding: 10px;
}

.image-logo{
    max-width: 100px !important;
    height: 100px !important; 
}

.logo{
    width: 70px;
    height: 110px;
    margin-right: -10px;
}

.btn {
    display: inline-block;
    background-color: aliceblue;
    padding: 25px 35px;
    border: 0px;
    margin: -6px 0px;
    
}

.btn:hover {
    background-color: rgb(91, 41, 42) !important;
    color: aliceblue !important;
}

.texts {
    align-self: center;
    padding-left: 5%;
    color: aliceblue;
}
.t-right {
    padding-left: 50%;
}

body {
    background-color: #E9EFF6;
    background-image: url("../img/logo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 20%;
    min-height: 100vh;
    margin: 0;
    position: relative;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2%;
    background-color: rgb(228, 141, 12);
}

/* Estilos para el documento login */

.section-login {
    padding: 10px;
    position: absolute;
    width: 100%;
    height: 87%;
}

.div-form-login{
    height:90%
}

.form-container {
    width: 60%;
    border-radius: 0 !important;
}

.title-login {
    background-color: #474040;
    padding: 4%;
    margin: -19% -19% 0 -19%;
    color: aliceblue;
    font-weight: 500;
    font-size: 22px;
}



/* ---------- Login-Formulario ------------ */
.formulario {
    margin: -5rem auto -2rem auto;
    width: 100%;
    padding-top: 5rem;

}

.campo {
    display: flex;
    margin-bottom: 2rem;
    gap: 2rem;
}

.form__label{
    font-weight: 500;
    font-size: 18px;
}

.label__email{
    padding-right: 10%;
}
.form-control{
    border: 1px solid orange !important; 
    box-shadow: 0 1px 6px 0 rgba(220, 117, 7, 0.5) !important;
}
.form-control:focus{
    border: 1px solid black !important; 
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.5) !important;
}
.input__pass{
    margin-right: -6.5%;
    border-right: white !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.input__showpass{
    width: 12%;
    border: 1px solid #ced4da;
    background-color: white;
    gap: 10px;
    border: 1px solid orange; 
    box-shadow: 0 1px 6px 0 rgba(220, 117, 7, 0.5);
}

.a-login {
    color: #E48D0C;
    font-weight: 500;
    font-size: 14px;
    text-decoration: underline;
}

.btn-login_submit {
    background-color: rgb(91, 41, 42) !important;
    color: white !important;
    width: 20% !important;
}
.btn-login_submit:hover {
    background-color: rgb(255, 140, 0) !important;
}

.error {
    background-color: #F2DEDE;
    color: #A94442;
    padding: 10px;
    width:100%;
    border-radius: 5px;
}

/* Estilos para el documento formularios estudiantes */
@media(max-width:768px){
    .container{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

/* Estilos para el documento register */
.container-register{
    height: 65vh;
    display: flex;
    align-items: flex-end;
}
.div-btn_register{
    height: 3rem;
}
.exito {
    background-color: #D4EDDA;
    color: #40754C;
    padding: 10px;
    width:100%;
    border-radius: 5px;
}